/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica,Arial, sans-serif;
}

/* 

1. Từ ngoài vào trong 
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết

 */

/*
1. Vị tri
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông..)
 */
 
#main {

}

#header {
    position: fixed;
    top:0px;
    right:0px;
    left:0px;
    height: 46px;
    background-color: black;
    z-index: 1;

}

#nav{
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;

}

#nav li {
    display: inline-block;
    position: relative;

}

#nav > li > a{
    color:white;
    text-transform: uppercase;

}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav  li:hover .subnav {
    display: block; 
}


#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    left:0px ;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    

}

#nav .subnav a {
    color: black;
    min-width: 160px;
    padding: 0 12px;
    line-height: 38px;
    
}

#nav .nav-arrow-down {
    font-size: 10px;
}

#header .search-btn{
    float: right;
    padding: 0 23px;
    
    
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
    
}   

#header .search-icon{
    color:#fff;
    font-size: 16px;
    line-height: 46px;
   
  
}

#slider {
    position: relative;
    margin-top:46px;
    padding-top: 50%;
    background: url(/assets/img/slider.png) top center / cover no-repeat;
    
    
   

}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left:50%;
    transform:translate(-50%); */

    /* 
    right:0px;
    left:0px */
    text-align: center;
    width: 100%;

}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content {
    /* height: 1000px;
    background-color: #ccc; */

}

#content .content-section{
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;

}

#content .section-sub-heading{
    line-height: 16px;
    margin-bottom: 25px;
    
}

#content .list{
    margin-bottom:25px ;
   
    
    
}

#content .name{
    float: left;
    
    
}
#content .img{
    width:250px ;
    height:250px ;
    

    
  
}










#footer {

}
